{% extends "tcof/base.html" %}
{% block title %}404{% endblock %}

{% load staticfiles %}
{% block content %}

<div class="row">
 <div class="col-md-12">
   <h3 class="page-header"></h3>
   <div class="jumbotron">
     <h1>404</h1>
     <p class="lead">
      <b>Error:</b> {{ error }}
     </p>
     <p>
       <small>If you see this often, there might be something seriously wrong, please feel free to <a href="{% url 'tcof:doc_url_name'  %}">contact us</a>.</small>
     </p>
   </div>

 </div>
 <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}

