<!DOCTYPE html>
<html lang="en">
  
  <!--
      All js and css component should be in the DJANGO app 'static/tcof' folder
      Replace in the code below "tcof" with the appname
    -->

  {% load staticfiles %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="keywords" content="">
    
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'tcof/images/favicon.ico' %}">
    
    <title>{% block title %}Home{% endblock %} // TcoF-DB</title>

    {% include 'tcof/stylesheets.html' %}
    {% include 'tcof/javascripts.html' %}
    
  </head>
  
  {% comment "Set app namespace" %}
  namepace 'tcof' needs declaration in main 'urls.py' not in apps local urls.py:
  urlpatterns = patterns('',
  url(r'^apps/tcof/', include('tcof.urls', namespace="tcof")),
  )
  {% endcomment %}
  
  {% url 'tcof:home_url_name' as home_url %}
  {% url 'tcof:contact_url_name' as contact %}
  {% url 'tcof:doc_url_name' as doc_url %}
  {% url 'tcof:search_url_name' as search %}
  {% url 'tcof:browse_url_name' as browse_url %}
  {% url 'tcof:gene_url_name' as gene %}
  {% url 'tcof:ppi_url_name' as ppi %}
  {% url 'tcof:go_url_name' as go_url %}
  {% url 'tcof:c7_url_name' as c7_url %}
  {% url 'tcof:c6_url_name' as c6_url %}

  <body>
    <div id="wrapper">
      
      <!-- Navigation -->
      {% include 'tcof/navigation.html' %}
      
      <!-- Page Content -->
      <div id="page-wrapper">
        <div class="container-fluid">
          {% comment %}
          BELOW GOES THE MAIN CONTENT FOR EACH INDIVIDUAL PAGE
          THE "block content" tag needs to be replaced in other templates.
          {% endcomment %}
          
          {% block content %}
          {% endblock %}

          <!-- Footer row -->
          <div class="row">
            <div class="col-lg-12 text-right">
              <hr>
              <p><a href="http://sschmeier.com"><i class="fa fa-home fa-fw"></i></a> // &copy; <a href="http://inms.massey.ac.nz">Massey University</a> & <a href="http://cbrc.kaust.edu.sa">CBRC@KAUST</a> 2010-2017 // v2.2.2</p>
            </div>
          </div>
          <!-- ./Footer row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /#page-wrapper -->
      
    </div>
    <!-- /#wrapper -->
  </body>
</html>

