
{% load staticfiles %}
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="dataTable_wrapper" width="100%">
          <table class="table table-condensed" id="table1" width="100%">
            <thead>
              <tr>
                <th></th>
                {% if annotype == 'GO' %}
                <th title="Link to TcoF entry"><img src="{% static 'tcof/images/go-logo-small.png' %}" /> GO term</th>
                <th title="Link to source"><img src="{% static 'tcof/images/go-logo-small.png' %}" /> GO ID</th>
                {% else %}
                <th title="Link to TcoF entry">Term&nbsp;</th>
                <th title="Link to source">Source&nbsp;</th>
                {% endif %}
                <th>TF&nbsp;</th>
                <th>TCoF:HC&nbsp;</th>
                <th>TCoF:1&nbsp;</th>
                <th>TCoF:2&nbsp;</th>
                <th>TCoF:3&nbsp;</th>
              </tr>
            </thead>
          </table>
          <!-- DataTables JavaScript -->
         <script>
           var dataSet = {{ data|safe }};
           
           $(document).ready( function() {
            var table = $('#table1').DataTable( {
              "data": dataSet,
           "columns": [ { "width": "5px", "bSortable": false },
                        null,
                        { "width": "80px" },
                        { "width": "30px" , "className":"text-right"},
                        { "width": "75px" , "className":"text-right"},
                        { "width": "60px" , "className":"text-right"},
                        { "width": "60px" , "className":"text-right"},
                        { "width": "60px" , "className":"text-right"} 
              ],
              responsive: true,
              "order": [[ 1, "asc" ]],
              "deferRender": true,
              responsive: true,
              lengthChange: false,
              "pageLength": 15,
              buttons: [ 'excel' ]
           } );
           table.buttons().container()
                     .appendTo( '#table1_wrapper .col-sm-6:eq(0)' );
           
           } );
         </script>
         
       </div>
        <!-- /.table-responsive -->
      </div> <!-- ./panel-body -->
    </div> <!-- panel -->
    
