{% extends "tcof/base.html" %}

{% block title %}Browse|{{ url_type|upper }}{% endblock %}

{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
    {% if url_type == "tcof" %}
    <h3 class="page-header">Browse/search {{ species }} {{ title }}: <small>Class {{ class }}</small></h3>
    {% else %}
    <h3 class="page-header">Browse/search {{ species }} {{ title }}</h3>
    {% endif %}

    <!-- CONTENT -->

    <!-- spinner while loading -->
    <div id="loadingDiv">
      <img id="loading-image" src="{% static 'tcof/images/loading.gif' %}" width="24px" height="24px" alt="Loading..." />
    </div>
    <div id="contentDiv"></div>

    <!-- Load content into contentDiv with ajax-->
    <script language="javascript" type="text/javascript">
         var $loading = $('#loadingDiv').hide();
         $(document)
           .ajaxStart(function () {
             $loading.show();
           })
           .ajaxStop(function () {
             $loading.hide();
           });
 
         $("#contentDiv").load("{{ browse_url }}?type={{ url_type }}&species={{ species }}&class={{ class }}&content=1");
    </script>
    
    <!-- END OF CONTENT -->
    
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}
