{% extends "tcof/base.html" %}
{% block title %}Browse|{{ annotype }}{% endblock %}

{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">Browse/search annotation terms: {{ annotype }}
      {% if annotypesub != '' %}
      ({{ annotypesub }})
      {% endif %}
    </h3>
       <!-- CONTENT -->
       
       <!-- spinner while loading -->
       <div id="loadingDiv">
         <img id="loading-image" src="{% static 'tcof/images/loading.gif' %}" width="24px" height="24px" alt="Loading..." />
       </div>
       <div id="contentDiv"></div>

       <!-- Load content into contentDiv with ajax-->
       <script language="javascript" type="text/javascript">
         var $loading = $('#loadingDiv').hide();
         $(document)
           .ajaxStart(function () {
             $loading.show();
           })
           .ajaxStop(function () {
             $loading.hide();
           });

         {% if annotypesub != '' %}
         $("#contentDiv").load("{{ browse_url }}?type=anno&atype={{ annotype }}:{{ annotypesub }}&content=1"); 
         {% else %}
         $("#contentDiv").load("{{ browse_url }}?type=anno&atype={{ annotype }}&content=1");
         {% endif %}

       </script>
        
       <!-- END OF CONTENT -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}
