{% load staticfiles %}
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt"></i><div style="float: right"><button title="Geneset enrichment analysis: Select genes by clicking on rows." type="button" id="button1" class="btn btn-default btn-xs">RUN GSEA</button></div>
      </div>
      <div class="panel-body">
        <div class="dataTable_wrapper" width="100%">
          <table class="table table-condensed" id="table1" width="100%">
            <thead>
              <tr>
                <th></th>
                <th title="Details in TcoF">Symbol</th>
                <th>GeneID</th>
                <th>Name</th>
                <th>Species</th>
                {% if url_type == "tf" %}
                <th title="Interactions with TcoFs"># PPI&nbsp;</th>
                {% else %}
                <th title="Interactions with TFs"># PPI&nbsp;</th>
                {% endif %}
                <th>Type</th>
              </tr>
            </thead>
          </table>
         
         <!-- DataTables JavaScript -->
         <script>
           var dataSet = {{ data|safe }};
         
           $(document).ready( function() {
            var table = $('#table1').DataTable( {
              "data": dataSet,
              "columns": [
                          { "width": "5px", "bSortable": false },
                          { "width": "100px" },
                          { "width": "100px" },
                          null,
                          { "width": "70px", "className": "text-center" },
                          { "width": "50px", "className": "text-right" },
                          { "width": "80px", "className": "text-center" }
              ],
              responsive: true,
              "order": [[ 1, "asc" ]],
              "deferRender": true,
              responsive: true,
              lengthChange: false,
              "pageLength": 15,
              buttons: [ 'excel' ]
           } );
           
           table.buttons().container()
                     .appendTo( '#table1_wrapper .col-sm-6:eq(0)' );
           
           $('#table1 tbody').on( 'click', 'tr', function () {
             $(this).toggleClass('selected');
           } );
           
           $('#button1').click( function () {
             var rows = table.rows('.selected').data();
             if (rows.length == 0) {
                 alert( "You need to select some genes to run GSEA" );
             } else {
                var genes = "";
                parser = new DOMParser();
                for (i = 0; i < rows.length; i++) {
                       // parse the gene out of the link
                       doc = parser.parseFromString(rows[i][1], "text/xml");
                       gene = doc.getElementsByTagName('a')[0].innerHTML
                       genes += gene + '\n';
               }
               enrich({list: [genes], popup: true, description: 'GSEA run with selected genes'});

              //alert( genes );
              //alert( table.rows('.selected').data().length +' row(s) selected' );
             }
           } );
           
         } ); // document ready
         </script>
   
       </div>
       <!-- /.table-responsive -->

     </div>
   </div>
