{% extends "tcof/base.html" %}

{% block title %}ENRICH{% endblock %}

{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">Enrich</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>TcoFs</b><div style="float: right"><button title="Geneset enrichment analysis: Select genes by clicking on rows." type="button" id="button1" class="btn btn-default btn-xs">RUN GSEA</button></div>
      </div>
     <div class="panel-body">
       <div class="dataTable_wrapper">
         <table class="table table-condensed" id="example">
           
             <thead>
               <tr>
                 <th>Name</th>
                 <th>Position</th>
                 <th>Office</th>
                 <th>Age</th>
                 <th>Start date</th>
                 <th>Salary</th>
               </tr>
             </thead>
           
             <tbody>
               <tr>
                 <td><a href="http://google.com">Litaf</a></td>
                 <td>System Architect</td>
                 <td>Edinburgh</td>
                 <td>61</td>
                 <td>2011/04/25</td>
                 <td>$320,800</td>
               </tr>
               <tr>
                 <td>Adam17</td>
                 <td>Accountant</td>
                <td>Tokyo</td>
                 <td>63</td>
                 <td>2011/07/25</td>
                 <td>$170,750</td>
               </tr>
               <tr>
                 <td><a href="http://google.com">Map3k3</a></td>
                 <td>Junior Technical Author</td>
                 <td>San Francisco</td>
                 <td>66</td>
                 <td>2009/01/12</td>
                 <td>$86,000</td>
               </tr>
               <tr>
                 <td>Ripk1</td>
                 <td>Senior Javascript Developer</td>
                 <td>Edinburgh</td>
                 <td>22</td>
                 <td>2012/03/29</td>
                 <td>$433,060</td>
               </tr>
               <tr>
                 <td>Gata6</td>
                 <td>Accountant</td>
                 <td>Tokyo</td>
                 <td>33</td>
                 <td>2008/11/28</td>
                 <td>$162,700</td>
               </tr>
               <tr>
                 <td>Flot2</td>
                 <td>Integration Specialist</td>
                 <td>New York</td>
                 <td>61</td>
                 <td>2012/12/02</td>
                 <td>$372,000</td>
               </tr>
             </tbody>
           </table>
               <!-- DataTables JavaScript -->
         <script>
           $(document).ready( function() {
           var table = $('#example').DataTable( {
              responsive: true,
              "order": [[ 0, "asc" ]],
              "deferRender": true,
              responsive: true,
              lengthChange: false,
              "pageLength": 15,
              buttons: [ 'excel']
           } );
           table.buttons().container()
                     .appendTo( '#example_wrapper .col-sm-6:eq(0)' );

           $('#example tbody').on( 'click', 'tr', function () {
             $(this).toggleClass('selected');
           } );
           
           $('#button1').click( function () {
             var rows = table.rows('.selected').data();
             if (rows.length == 0) {
                 alert( "You need to select some genes to run GSEA" );
             } else {
                var genes = "";
                parser = new DOMParser();
                for (i = 0; i < rows.length; i++) {
                       // parse the gene out of the link
                       doc = parser.parseFromString(rows[i][0], "text/xml");
                       gene = doc.getElementsByTagName('a')[0].innerHTML
                       genes += gene + '\n';
               }
               enrich({list: [genes], popup: true, description: 'GSEA run with selected genes'});

               //alert( genes );
              //alert( table.rows('.selected').data().length +' row(s) selected' );
             }
           } );
           
           } ); // document ready
         </script>
   
       </div>
       <!-- /.table-responsive -->

       {% comment %}
        <a href="#" role='button' onclick="enrich({list: ['Litaf\nCdh1\nAdam17\nMap3k3\nArhgef1\nSdc4\nRipk1\nGata6\nVat1\nSrf\nMapk14\nLig3\nSlc4a7\nIcam1\nSgms1\nFst\nPlod2\nSrebf2\nAxin2\nCdc42\nGmcl1\nSpag9\nCdc42ep4\nS100a10\nRela\nE2f1\nTpd52l2\nTraf6\nDusp4\nPml\nTln1\nPpp1ca\nCnot4\nAdssl1\nGpr85\nCmtm6\nNfkb1\nIfrd2\nTollip\nXrcc6\nAsph\nTpm1\nTcf7l2\nPeli1\nDyrk2\nMmd\nSgk1\nSept10\nSkp2\nLdlrap1\nRbms1\nItgb1\nTom1l1\nDlk1\nMyd88\nPdpk1\nMap2k3\nPlcg2\nScarb1\nItpr3\nSpp1\nFoxa2\nSema3a\nFadd\nCdk6\nFlot2\nPbx3\nIqgap1'], popup: true, description: 'Targets (exp) of mmu-miR-124-3p'});"><button type="button" class="btn btn-default btn-xs">Run geneset enrichment analysis</button></a>
        {% endcomment %}
       
     </div>
    </div>


  

 </div>
 <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}





