{% extends "tcof/base.html" %}
{% block title %}Contact{% endblock %}

{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3 class="page-header">Contact</h3>
    
    <div class="panel panel-default">
     
      <div class="panel-body">
        <address>
          <strong>Twitter, Inc.</strong><br>
          1355 Market Street, Suite 900<br>
          San Francisco, CA 94103<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}

