{% extends "tcof/base.html" %}

{% block title %}Disease:{{ idx }}{% endblock %}

{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
 
    <h3 class="page-header"><a title="Open at source" href="{{ url }}">Disease</a> - <small>{{ source }} : {{ term }} ({{ species  }})</small></h3>
    
    <!-- CONTENT -->
 
    <!-- spinner while loading -->
    <div id="loadingDiv">
      <img id="loading-image" src="{% static 'tcof/images/loading.gif' %}" width="24px" height="24px" alt="Loading..." />
    </div>
    <div id="contentDiv"></div>

    <!-- Load content into contentDiv with ajax-->
    <script language="javascript" type="text/javascript">
         var $loading = $('#loadingDiv').hide();
         $(document)
           .ajaxStart(function () {
             $loading.show();
           })
           .ajaxStop(function () {
             $loading.hide();
           });
 
         $("#contentDiv").load("{% url 'tcof:disease_url_name'  idx %}?content=1");
    </script>
    
    <!-- END OF CONTENT -->

    
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}
