{% load staticfiles %}
{% url 'tcof:browse_url_name' as browse_url %}
{% url 'tcof:ppi_url_name' as ppi %}

   <!-- Nav tabs -->
   <ul class="nav nav-tabs">
     <li class="active"><a href="#def" data-toggle="tab"><i class="fa fa-exclamation"></i> Definitions</a>
     </li>
     <li><a href="#stats" data-toggle="tab"><i class="fa fa-bar-chart"></i> Statistics</a>
     </li>
     <li><a href="#manual" data-toggle="tab"><i class="fa fa-wrench"></i> Manual</a>
     </li>
     <li><a href="#sources" data-toggle="tab"><i class="fa  fa-database"></i> Data sources</a>
     </li>
     <li><a href="#team" data-toggle="tab"><i class="fa fa-users"></i> Team</a>
     </li>
   </ul>
       
   <!-- Tab panes -->
   <div class="tab-content">
     
     <!-- DEF-->
     <div class="tab-pane fade in active" id="def">
       <h4></h4>
       <div class="row">
         <div class="col-lg-12">
           <div class="panel panel-default">
             <div class="panel-heading">
               Transcription factors
             </div><!-- /.panel-heading -->
             <div class="panel-body">
               <div class="col-lg-9">
               <p class="text-justify">
                 A gene/protein is considered a transcription factor (TF) if it is listed in:<br> <a href="https://www.ncbi.nlm.nih.gov/pubmed/24670764">A promoter-level mammalian expression atlas. Forrest et al. 2014, Nature. 2014 Mar 27;507(7493):462-70</a>.
               </p>
               <p class="text-justify">
                 This constitues a set of all proteins that possess a sequence specific DNA binding domain, which was manually curated for TFs.
               </p>
               </div>
               <div class="col-lg-3">
                 <p class="text-center">
                 <a href="{{ browse_url }}?type=tf&species=human"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-list-alt"></i> Browse human TFs</button></a>
                 </p>
                 <p class="text-center">
                 <a href="{{ browse_url }}?type=tf&species=mouse"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-list-alt"></i> Browse mouse TFs</button></a>
                 </p>
               </div>
             </div> <!-- /.panel-body -->
           </div> <!-- /.panel -->
         </div> <!-- /.col -->
       </div> <!-- /.row -->
       
       <div class="row equal">
         <div class="col-lg-6">
         
           <div class="panel panel-default">
             <div class="panel-heading">
               Transcription co-factors
             </div><!-- /.panel-heading -->
             <div class="panel-body">
               <p class="text-justify">
                 A gene is considered a transcription co-factor (TcoF) if it satisfies all of these four conditions:
                 <ol class="text-justify">
                   <li>It is <i>not</i> a member of the list of transcription factors.</li>
                   <li>It is shown to bind to a transcription factor. This binding was demonstrated experimentally and is referenced in the literature.</li>
                   <li>It is annotated in <a href="http://geneontology.org/">Gene Ontology</a> with either:
                     <ul>
                       <li><a href="http://amigo.geneontology.org/amigo/term/GO:0000988/">GO:0000988 (transcription factor activity, protein binding)</a>
                       </li>
                       <li><a href="http://amigo.geneontology.org/amigo/term/GO:1903506/">GO:1903506 (regulation of nucleic acid-templated transcription)</a> </li>
                     </ul>
                     or one of their descendent terms.
                   </li>
                   <li>It is annotated in Gene Ontology with <a href="http://amigo.geneontology.org/amigo/term/GO:0005634/">GO:0005634 (nucleus)</a> or one of its descendent terms.</li>
                 </ol>
               </p>
               <p style="padding:15px;" class="text-center">
                  <a href="{{ browse_url }}?type=tcof&species=human"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-list-alt"></i> Browse human TcoFs</button></a> <a href="{{ browse_url }}?type=tcof&species=mouse"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-list-alt"></i> Browse mouse TcoFs</button></a>
               </p>
             </div>
           </div> <!-- /.panel -->
         </div> <!-- /.panel-body -->
 
         <div class="col-lg-6">
           <div class="panel panel-default">
             <div class="panel-heading">
               Transcription co-factor classification
             </div><!-- /.panel-heading -->
             <div class="panel-body">
               <p class="text-justify">
                 Transcription co-factors are grouped into four different classes of confidence, based on the type of evidence that is present for their annotation in the <a href="http://geneontology.org/">Gene Ontology</a> (see conditions in panel "Transcription co-factors"):
               </p>
               <p>
                 <ul class="text-justify">

                   <li><b>Class High-confidence (HC)</b>: All TcoFs that have experimental evidence for both, involvement in transcriptional regulation and occurrence in the cell nucleus.</li>
                   <li><b>Class 1</b>: All TcoFs that have experimental evidence for involvement in transcriptional regulation, but only non-experimental evidence (e.g. 'Inferred from Electronic Annotation') for occurrence in the cell nucleus.</li>
                   <li><b>Class 2</b>: All TcoFs that have experimental evidence for occurrence in the cell nucleus, but only non-experimental evidence (e.g. 'Inferred from Electronic Annotation') for involvement in transcriptional regulation.</li>
                   <li><b>Class 3</b>: All TcoFs that have only non-experimental evidence (e.g. 'Inferred from Electronic Annotation') for both, involvement in transcriptional regulation and for occurrence in the cell nucleus.</li>
                 </ul>
               </p>
             </div>
           </div> <!-- /.panel -->
         </div> <!-- /.panel-body -->
       </div> <!-- /.row -->
       <div class="row">
         <div class="col-lg-12">
           <div class="panel panel-default">
             <div class="panel-heading">
               Interactions
             </div><!-- /.panel-heading -->
             <div class="panel-body">
               <div class="col-lg-9">
                 <p class="text-justify">
                   Interactions between TFs and TcoFs were sourced from <a href="thebiogrid.org/">BioGRID</a>, <a href="https://www.ebi.ac.uk/intact/">IntAct</a>, and <a href="http://www.reactome.org/">Reactome</a>. Only human-human and mouse-mouse interactions between protein-coding genes were retained. Finally, we sub-selected based on interaction type and only retained interactions with the following <a href="http://www.psidev.info/mif">PSI-MI</a> identifiers:
                   <div class="col-lg-6">
                     <ul>
                       <li>MI:0914 = association</li>
                       <li>MI:0915 = physical association</li>
                       <li>MI:0407 = direct interaction</li>
                     </ul>
                   </div>
                   <div class="col-lg-6">
                     <ul>
                       <li>MI:0195 = covalent binding</li>
                       <li>MI:0408 = disulfide bond</li>
                       <li>MI:0556 = transglutamination reaction</li>
                     </ul>
                   </div>
                 </p>
               </div>
               <div class="col-lg-3">
               <p class="text-center" >
                 <a href="{{ ppi }}?species=human&dnl=1&f=human_tf_interactions.csv"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i> Download human TF interactions</button></a>
               </p>
               <p class="text-center">
                 <a href="{{ ppi }}?species=mouse&dnl=1&f=mouse_tf_interactions.csv"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i> Download mouse TF interactions</button></a>
               </p>
               </div>

             </div>
           </div>
         </div>
       </div>
     </div> <!-- /.tab DEF-->

     <!-- Statistics -->
     <div class="tab-pane fade" id="stats">

       <h4></h4>
       
       <div class="row">
         <div class="col-lg-8">
           <div class="panel panel-default">
             <div class="panel-heading">
               TcoFs human
             </div><!-- /.panel-heading -->
             <div class="panel-body" style="min-height: 240px;">
               <!-- CONTENT HERE -->
               <br>
               <table id="tableSeb1">
                 <thead>
                   <tr>
                     <td style="width: 200px;"><b>TcoF classes</b></td>
                     <td></td>
                     <td style="width: 200px; background-color: #fafafa;">Evidence for involvement in transcriptional regulation</td>
                     <td style="background-color: #fafafa;"></td>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td></td>
                     <td></td>
                     <td style="background-color: #fafafa;"><b>experimental</b></td>
                     <td style="background-color: #fafafa;"><b>other</b></td>
                   </tr>
                   <tr>
                     <td style="background-color: #fafafa;">Evidence for location in nucleus</td>
                     <td style="background-color: #fafafa;"><b>experimental</b></td>
                     <td style="background-color: #f5f5f5;"><a title="Browse TcoFs" href="{{ browse_url }}?type=tcof&class=HC&species=human">{{ hsa.HC }} (Class HC)</a></td>
                     <td style="background-color: #f5f5f5;"><a title="Browse TcoFs" href="{{ browse_url }}?type=tcof&class=2&species=human">{{ hsa.2 }} (Class 2) </a></td>
                   </tr>
                   <tr>
                     <td style="background-color: #fafafa;"></td>
                     <td style="background-color: #fafafa;"><b>other</b></td>
                     <td style="background-color: #f5f5f5;"><a title="Browse TcoFs" href="{{ browse_url }}?type=tcof&class=1&species=human">{{ hsa.1 }} (Class 1) </a></td>
                     <td style="background-color: #f5f5f5;"><a title="Browse TcoFs" href="{{ browse_url }}?type=tcof&class=3&species=human">{{ hsa.3 }} (Class 3) </a></td>
                   </tr>
                 </tbody>
               </table>
             </div><!-- /.panel-body -->
           </div> <!-- /.panel -->
           
           
         </div>
         <div class="col-lg-4">
           
           <div class="panel panel-default">
             <div class="panel-heading">
               TFs human
             </div><!-- /.panel-heading -->
             <div class="panel-body" style="min-height: 240px;">
               <!-- CONTENT HERE -->
                <table class="table">
                 <thead>
                   <tr>
                     <th>What</th>
                     <th class="text-right">Number</th>
                   </tr>
                 </thead>
                 <tbody>
                     <tr>
                       <td>TFs:</td>
                       <td class="text-right"><a title="Browse TFs" href="{{ browse_url }}?type=tf&species=human">{{ hsa.TF }}</a></td>
                     </tr>
                     <tr>
                       <td>PPI TF-TF:</td>
                       <td class="text-right">{{ hsa.tftf }}</td>
                     </tr>
                     <tr>
                       <td>PPI TF-TcoF:</td>
                       <td class="text-right">{{ hsa.tftcof }}</td>
                     </tr>
                     <tr>
                       <td>PPI TF-other:</td>
                       <td class="text-right">{{ hsa.tfother }}</td>
                     </tr>
                 </tbody>
               </table>
               
             </div><!-- /.panel-body -->
           </div> <!-- /.panel -->
           
         </div><!-- /.col -->
         

           
       </div><!-- /.row -->
       
       <div class="row">
         <div class="col-lg-8">
           <div class="panel panel-default">
             <div class="panel-heading">
               TcoFs mouse
             </div><!-- /.panel-heading -->
             <div class="panel-body" style="min-height: 240px;">
               <!-- CONTENT HERE -->
               <br>
               <table id="tableSeb1">
                 <thead>
                   <tr>
                     <td style="width: 200px;"><b>TcoF classes</b></td>
                     <td></td>
                     <td style="width: 200px; background-color: #fafafa;">Evidence for involvement in transcriptional regulation</td>
                     <td style="background-color: #fafafa;"></td>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td></td>
                     <td></td>
                     <td style="background-color: #fafafa;"><b>experimental</b></td>
                     <td style="background-color: #fafafa;"><b>other</b></td>
                   </tr>
                   <tr>
                     <td style="background-color: #fafafa;">Evidence for location in nucleus</td>
                     <td style="background-color: #fafafa;"><b>experimental</b></td>
                     <td style="background-color: #f5f5f5;"><a title="Browse TcoFs" href="{{ browse_url }}?type=tcof&class=HC&species=mouse">{{ mmu.HC }} (Class HC)</a></td>
                     <td style="background-color: #f5f5f5;"><a title="Browse TcoFs" href="{{ browse_url }}?type=tcof&class=2&species=mouse">{{ mmu.2 }} (Class 2)</a></td>
                   </tr>
                   <tr>
                     <td style="background-color: #fafafa;"></td>
                     <td style="background-color: #fafafa;"><b>other</b></td>
                     <td style="background-color: #f5f5f5;"><a title="Browse TcoFs" href="{{ browse_url }}?type=tcof&class=1&species=mouse">{{ mmu.1 }} (Class 1)</a></td>
                     <td style="background-color: #f5f5f5;"><a title="Browse TcoFs" href="{{ browse_url }}?type=tcof&class=3&species=mouse">{{ mmu.3 }} (Class 3)</a></td>
                   </tr>
                 </tbody>
               </table>
             </div><!-- /.panel-body -->
           </div> <!-- /.panel -->
           
         </div>
         <div class="col-lg-4">
           <div class="panel panel-default">
             <div class="panel-heading">
               TFs mouse
             </div><!-- /.panel-heading -->
             <div class="panel-body" style="min-height: 240px;">
               <!-- CONTENT HERE -->
                <table class="table">
                 <thead>
                   <tr>
                     <th>What</th>
                     <th class="text-right">Number</th>
                   </tr>
                 </thead>
                 <tbody>
                     <tr>
                       <td>TFs:</td>
                       <td class="text-right"><a title="Browse TFs" href="{{ browse_url }}?type=tf&species=mouse">{{ mmu.TF }}</a></td>
                     </tr>
                     <tr>
                       <td>PPI TF-TF:</td>
                       <td class="text-right">{{ mmu.tftf }}</td>
                     </tr>
                     <tr>
                       <td>PPI TF-TcoF:</td>
                       <td class="text-right">{{ mmu.tftcof }}</td>
                     </tr>
                     <tr>
                       <td>PPI TF-other:</td>
                       <td class="text-right">{{ mmu.tfother }}</td>
                     </tr>
                 </tbody>
               </table>
               
             </div><!-- /.panel-body -->
           </div> <!-- /.panel -->
           
         </div> <!-- /.col -->
       </div><!-- /.row -->
   
     </div><!-- /.tab -->

     <!-- Manual-->
     <div class="tab-pane fade" id="manual">
       <h4></h4>          
       <div class="row">
         <div class="col-lg-12">
           <div class="panel panel-default">
             <div class="panel-heading">
               Manual
             </div><!-- /.panel-heading -->
             <div class="panel-body">
               <!-- CONTENT HERE -->
               <h4>Searching genes by identifier</h4>
               <p class="text-justify">
                 Genes in TcoF-DB can be searched based on Symbols, GeneIDs or names. You can also identify a gene of interest based on UniprotIDs or Accessions.
               </p>
               <h4>Search results</h4>
               <p class="text-justify">
                 Search results are presented in form of a table. If there are many results, they are given page by page in a browsable format. The most left column lets you investigate the genes in detail within TcoF-DB. The search bar on top of the table is useful to sub-select entries from within the table. We also link to source databases of the entries. The right-hand side column shows the classification of the gene in TcoF-DB.
               </p>
               <h4>Details for transcription factors</h4>
               <p class="text-justify">The details page for transcription factors consists of two parts in two tabs. The first tab contains a table with all details for the gene in question including symbol, name, annotations, links, and proteins. The second tab contains the interactions of the TF with proteins like TFs, TcoFs, and other proteins. There are six tabs on this page where one can explore the desired class of interacting protein of the TF in question. In each table information with regards to the type of interaction, name of experiment, reference (as link to PubMed) and link to the interaction in the source reference database.
               </p>
               <p class="text-justify">
                 The "Details page" of each gene can be entered by clicking on the symbol in the table.
               </p>
               <h4>Details for transcription co-factors</h4>
               <p class="text-justify">
                 The details page for TcoFs equally consists of two parts. The first tab contains a table with all details for the gene in question including all name, annotations, links and proteins. This tab also contains an evidence section highlighting why this gene is regarded as a TcoF of a particular class, with details regarding the GO annotations used to make this assessment present. The class of a TcoF depends on the type of evidence that was used for annotation. The second tab contains information about the TFs that are reported to interact with the TcoF under investigation. Each interaction between a TcoF and TF only appears once, however information about experiment, interaction, source and PubmedID can appear multiple times if more than one such evidence exist for the interaction. Detailed information for each interaction is given in all cases. This information comprises source reference database, type of interaction, name of experiment, and reference (as link to PubMed).
               </p>
             </div><!-- /.panel-body -->
           </div> <!-- /.panel -->
         </div><!-- /.col -->
       </div> <!-- /.row -->
     </div><!-- /.tab -->

     <!--  Data sources-->
     <div class="tab-pane fade" id="sources">
       <h4></h4>
       <div class="row">
         <div class="col-lg-12">
           <div class="panel panel-default">
             <div class="panel-heading">
               Data sources
             </div><!-- /.panel-heading -->
             <div class="panel-body">
               <!-- CONTENT HERE -->
               <table class="table">
                 <thead>
                   <tr>
                     <th>What</th>
                     <th>Where</th>
                     <th>When</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td>TFs</td>
                     <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/24670764">Forrest et al. 2014</td>
                     <td>2014</td>
                   </tr>
                   <tr>
                     <td>PPI</td>
                     <td><a href="http://thebiogrid.org/downloads/archives/Release%20Archive/BIOGRID-3.4.135/BIOGRID-ORGANISM-3.4.135.mitab.zip">BioGRID</td>
                     <td>2016/04 (v3.4.135)</td>
                   </tr>
                   <tr>
                     <td>PPI</td>
                     <td><a href="http://www.reactome.org/download/current/homo_sapiens.mitab.interactions.txt.gz">REACTOME</td>
                     <td>2016/04</td>
                   </tr>
                   <tr>
                     <td>PPI</td>
                     <td><a href="">INTACT</td>
                     <td>2016/04</td>
                   </tr>
                   <tr>
                     <td>GO terms</td>
                     <td><a href="http://nakama.berkeleybop.org/goose">AmiGO GOOSE</td>
                     <td>2016/04</td>
                   </tr>
                   <tr>
                     <td>Gene to GO associations</td>
                     <td><a href="ftp://ftp.ncbi.nlm.nih.gov/gene/DATA/gene2go.gz">NCBI gene2go.gz</td>
                     <td>2016/04</td>
                   </tr>
                   <tr>
                     <td>Gene class information</td>
                     <td><a href="ftp://ftp.ncbi.nlm.nih.gov/gene/DATA/gene_info.gz">NCBI gene_info.gz</td>
                     <td>2016/04</td>
                   </tr>
                   <tr>
                     <td>Protein information</td>
                     <td><a href="http://uniprot.org">Uniprot</td>
                     <td>2016/04</td>
                   </tr>
                   <tr>
                     <td>Pathway information</td>
                     <td><a href="http://kegg.jp">KEGG</td>
                     <td>2015/12</td>
                   </tr>
                   <tr>
                     <td>Pathway information</td>
                     <td><a href="http://www.reactome.org/">REACTOME</td>
                     <td>2016/06 (v56)</td>
                   </tr>
                   <tr>
                     <td>Disease information</td>
                     <td><a href="http://www.disgenet.org/">DisGeNET</td>
                     <td>2016/06 (v4)</td>
                   </tr>
                   <tr>
                     <td>Disease information</td>
                     <td><a href="http://www.informatics.jax.org/">MGI</td>
                     <td>2016/06</td>
                   </tr>
                   <tr>
                     <td>Disease information</td>
                     <td><a href="http://software.broadinstitute.org/gsea/msigdb/">MSigDB</td>
                     <td>2016/06 (v5.1)</td>
                   </tr>
                   
                 </tbody>
               </table>
             </div><!-- /.panel-body -->
           </div> <!-- /.panel -->
         </div> <!--/.col-->
       </div> <!-- /. row -->
     </div>

     <!-- Team -->
     <div class="tab-pane fade" id="team">
       <h4></h4>          
       <div class="row">
         <div class="col-lg-12">
           <div class="panel panel-default">
             <div class="panel-heading">
               Team
             </div><!-- /.panel-heading -->
             <div class="panel-body">
               <!-- CONTENT HERE -->
               <div class="col-lg-2">
                 <img src="{% static 'tcof/images/ss.jpg' %}"></img><br>Sebastian Schmeier
               </div>
               <div class="col-lg-2">
                 <img src="{% static 'tcof/images/vb.jpg' %}"></img><br>Vladimir B. Bajic
               </div>
               <div class="col-lg-2">
                 <img src="http://placehold.it/135x135"></img><br>Tanvir Alam
               </div>
               <div class="col-lg-2">
                 <img src="{% static 'tcof/images/me.jpg' %}"></img><br>Magbubah Essack
               </div>
               <div class="col-lg-2">
                 <img src="{% static 'tcof/images/us.jpg' %}"></img><br>Ulf Schaefer
               </div>
               <div class="col-lg-2">
               </div>
             </div><!-- /.panel-body -->
           </div> <!-- /.panel -->
         </div><!-- /.col -->
       </div> <!-- /.row -->
     </div><!-- /.tab -->
     
   </div><!-- tab -->
  
