
{% load staticfiles %}

<script>
function activaTab(tabID){
    $('.nav-tabs a[href="#' + tabID + '"]').tab('show');
};
{% if ppi_tab == "active" %}
activaTab('interactions');
{% else %}
activaTab('information');
{% endif %}
</script>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li><a href="#information" data-toggle="tab"><i class="fa fa-info"></i> Information</a></li>
  <li><a href="#interactions" data-toggle="tab"><i class="fa fa-arrows-h"></i> Interactions</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  
  <!-- INFORMATION -->
  <div class="tab-pane fade in active" id="information">
    <h4></h4>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
              
          <div class="panel-heading">
            Gene info
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            
            <div class="row">
              
              <div class="col-lg-7">
                
                <table id="tableSeb1">
                  <thead>
                    <tr>
                      <td style="width: 150px;"></td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b>Symbol:</b></td>
                      <td><a title="Open at NCBI Gene" href="https://www.ncbi.nlm.nih.gov/gene/{{ e.id }}">{{ e.symbol }}</a></td>
                    </tr>
                    <tr>
                      <td><b>GeneID:</b></td>
                      <td><a title="Open at NCBI Gene" href="https://www.ncbi.nlm.nih.gov/gene/{{ e.id }}">{{ e.id }}</a></td>
                    </tr>
                    <tr>
                      <td><b>Name:</b></td>
                      <td>{{ e.name }}</td>
                    </tr>
                    <tr>
                      <td><b>Alt symbols:</b></td>
                      <td>{{ e.alt }}</td>
                    </tr>
                    <tr>
                      <td><b>Species:</b></td>
                      <td>{{ e.species }}</td>
                    </tr>
                    <tr>
                      <td><b>Classification:</b></td>
                      {% if type == "TF" %}
                      <td>{{ e.type }}</td>
                      {% elif type == "Other" %}
                      <td>Other TF interacting protein - not deemed TcoF due to missing gene ontology evidence</td>
                      {% elif e.type == "HC" %}
                      <td>TcoF: <a href="{{ doc }}">High confidence</a></td>
                      {% else %}
                      <td>TcoF: <a href="{{ doc }}">Hypothetical - class {{ e.type }}</a></td>
                      {% endif %}
                    </tr>
                    {% if type == "TcoF" %}
                    <tr>
                      <td></td>
                      <td>
                        {% if e.type == "HC"  %}
                        <b>experimental</b> evidence for involvement in transcriptional regulation<br>
                        <b>experimental</b> evidence for occurence in cell nucleus<br>
                        {% elif e.type == "1" %}
                        <b>experimental</b> evidence for involvement in transcriptional regulation<br>
                        <b>non-experimental</b> evidence for occurence in the cell nucleus<br>
                        {% elif e.type == "2" %}
                        <b>non-experimental</b> evidence for involvement in transcriptional regulation<br>
                        <b>experimental</b> evidence for occurence in the cell nucleus<br>
                        {% elif e.type == "3" %}
                        <b>non-experimental</b> evidence for involvement in transcriptional regulation<br>
                        <b>non-experimental</b> evidence for occurence in the cell nucleus<br>
                        {% endif %}
                      </td>
                    </tr>
                    {% elif e.type == "TF" %}
                    <tr>
                      <td></td>
                      <td>
                        According to: <a href="https://www.ncbi.nlm.nih.gov/pubmed/24670764">Nature. 2014 Mar 27;507(7493):462-70</a>
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div> <!-- ./col7 -->
              
              <div class="col-lg-5">
                <table id="tableSeb1">
                  <thead>
                    <tr>
                      <td style="width: 150px;"></td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b>General:</b></td>
                      <td>
                        <a title="Search at NCBI" href="https://www.ncbi.nlm.nih.gov/gquery/?term={{ e.symbol }}">NCBI</a> | <a title="Search at EpiFactors" href="http://epifactors.autosome.ru/genes?search={{ e.symbol }}">EPIFACTORS</a>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Genome Browser:</b></td>
                      <td>
                        {% if e.species == "mouse" %}
                        <a title="Open in FANTOM5:ZENBU genome browser" href="http://fantom.gsc.riken.jp/zenbu/gLyphs/#config=DmO_zYuHPxvu83HbOzew1C;search={{e.symbol}}">F5:ZENBU</a> | <a title="Open in UCSC Genome Browser" href="https://genome.ucsc.edu/cgi-bin/hgTracks?position={{ e.symbol }}&hgt.positionInput={{ e.symbol }}&hgt.suggestTrack=knownGene&db=mm10">UCSC</a>
                        {% else %}
                        <a title="Open in FANTOM5:ZENBU genomme browser" href="http://fantom.gsc.riken.jp/zenbu/gLyphs/#config=DmO_zYuHPxvu83HbOzew1C;search={{e.symbol}}">F5:ZENBU</a> | <a title="Open in UCSC Genome Browser" href="https://genome.ucsc.edu/cgi-bin/hgTracks?position={{ e.symbol }}&hgt.positionInput={{ e.symbol }}&hgt.suggestTrack=knownGene&db=hg38">UCSC</a>
                            {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td><b>Gene expression:</b></td>
                      <td>
			            {% if species == 'mouse' %}
                        <a title="Open at FANTOM5:SSTAR" href="http://fantom.gsc.riken.jp/5/sstar/EntrezGene:{{ e.id }}">F5:SSTAR</a> | <a title="Search EBI Expression Atlas" href="http://www.ebi.ac.uk/gxa/query?geneQuery={{ e.symbol }}&exactMatch=true&_exactMatch=on&organism=Mus+musculus">EBI:GXA</a> 
			            {% else %}
			            <a title="Open at FANTOM5:SSTAR" href="http://fantom.gsc.riken.jp/5/sstar/EntrezGene:{{ e.id }}">F5:SSTAR</a> | <a title="Search EBI Expression Atlas" href="http://www.ebi.ac.uk/gxa/query?geneQuery={{ e.symbol }}&exactMatch=true&_exactMatch=on&organism=Homo+sapiens">EBI:GXA</a> 
			            {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td><b>Pathways:</b></td>
                      <td>
                        <a title="Open at KEGG" href="http://www.kegg.jp/dbget-bin/www_bget?{% if e.species == 'mouse' %}mmu{% else %}hsa{% endif %}:{{ e.id }}">KEGG</a> | <a title="Search in REACTOME" href="http://www.reactome.org/content/query?q={{ e.symbol }}">REACTOME</a> 
                      </td>
                    </tr>
                    <tr>
                      {% if type == "TF" %}
                      <td><b>TFBS information:</b></td>
                      <td>
                        <a title="Open at HOCOMOCO" href="http://hocomoco.autosome.ru/search?arity=mono&query={{ e.symbol }}&species={{ e.species }}">HOCOMOCO</a> |  <a href="http://www.factorbook.org/{{ e.species }}/chipseq/tf/{{ e.symbol|upper }}">FACTORBOOK</a>
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
                
              </div> <!-- ./col-5 -->
            </div> <!-- ./row -->
            
            
          </div> <!-- /.panel-body-->
        </div> <!-- /.panel -->
      </div> <!-- /. col-lg-12 -->
    </div><!--/.row-->
    
    {% if type == "TF" %}
    
    {% else %}
    <!-- EVIDENCE -->
    <div class="row">
      <div class="col-lg-12">
        
        <div class="panel panel-default">          
          <div class="panel-heading">
            {% if type == "Other" %}
            GO-terms: general terms
            {% else %}
            GO-terms: TcoF evidence
            {% endif %}
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>GO-acc</th>
                    <th>Go-name</th>
                    <th>Ontology</th>
                    <th>Evidence-code</th>
                    <th>Evidence-type</th>
                    <th>PMID</th>
                  </tr>
                </thead>
                <tbody>
                  {% for g in go.exp %}
                  <tr>
                    <td><a href="http://amigo.geneontology.org/amigo/term/{{ g.goid }}/?q={{ e.symbol }}">{{ g.goid }}</a></td>
                    <td>{{ g.goterm }}</td>
                    <td>{{ g.gotype }}</td>
                    <td><a href="http://geneontology.org/page/guide-go-evidence-codes">{{ g.goevidence }}</a></td>
                    <td>experimental</td>
                    <td>
                      {% for pmid in g.pmid %}
                      <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pmid }}">{{ pmid }}</a>
                      {% endfor %}
                    </td>
                  </tr>
                      {% endfor %}
                  
                  {% for g in go.nonexp %}
                  <tr>
                    <td><a href="http://amigo.geneontology.org/amigo/term/{{ g.goid }}/?q={{ e.symbol }}">{{ g.goid }}</a></td>
                    <td>{{ g.goterm }}</td>
                    <td>{{ g.gotype }}</td>
                    <td><a href="http://geneontology.org/page/guide-go-evidence-codes">{{ g.goevidence }}</a></td>
                    <td>automatic</td>
                    <td>
                      {% for pmid in g.pmid %}
                      <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pmid }}">{{ pmid }}</a>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                  
                  {% for g in go.nonexp_general %}
                  <tr>
                    <td><a href="http://amigo.geneontology.org/amigo/term/{{ g.goid }}/?q={{ e.symbol }}">{{ g.goid }}</a></td>
                    <td>{{ g.goterm }}</td>
                    <td>{{ g.gotype }}</td>
                    <td><a href="http://geneontology.org/page/guide-go-evidence-codes">{{ g.goevidence }}</a></td>
                    <td>automatic</td>
                    <td>
                      {% for pmid in g.pmid %}
                      <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pmid }}">{{ pmid }}</a>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
                
          </div> <!-- /.panel-body-->
        </div> <!-- /.panel -->
        
      </div> <!-- /. col-lg-12 -->
      
    </div> <!-- /.row -->
    {% endif %}

    
    <!-- UNIPROT -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Proteins
          </div>
          <div class="panel-body">
            
            {% for u in up %}
            <div class="row">
              <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                      
                      <ul class="nav nav-pills">
                        <li class="active"><a href="#home-pills{{ u.id }}" data-toggle="tab">Protein info</a>
                        </li>
                        <li><a href="#profile-pills{{ u.id }}" data-toggle="tab">Sequence</a>
                        </li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane fade in active" id="home-pills{{ u.id }}">
                          <h4></h4>
                          <table id="tableSeb1">
                            <thead>
                              <tr>
                                <td style="width: 200px;"></td>
                                <td></td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><b>ID:</b></td>
                                <td><a title="Open at Uniprot" href="http://www.uniprot.org/uniprot/{{ u.upacc }}">{{ u.upid }}</a></td>
                              </tr>
                              <tr>
                                <td><b>Accession:</b></td>
                                <td><a title="Open at Uniprot" href="http://www.uniprot.org/uniprot/{{ u.upacc }}">{{ u.upacc }}</a></td>
                              </tr>
                              <tr>
                                <td><b>Name:</b></td>
                                <td>{{ u.name }}</td>
                              </tr>
                              <tr>
                                <td><b>Class:</b></td>
                                <td>{{ u.kind }}</td>
                              </tr>
                              <tr>
                                <td><b>Links:</b></td>
                                <td><a href="http://www.rcsb.org/pdb/protein/{{ u.upacc }}">PDB</a> | <a href="http://pfam.xfam.org/protein/{{ u.upacc }}">PFAM</a> | <a href="http://www.proteinspire.org/MOPED/mopedviews/proteinExpressionDatabase.jsf?proteinId={{ u.upacc }}">MOPED</a> | <a href="http://amigo.geneontology.org/amigo/gene_product/UniProtKB:{{ u.upacc }}">GO</a> |
                                  <a href="http://www.cbrc.kaust.edu.sa/tftcofc/index.html" title="Predict binding partner for protein">TFTCOFc</a></td>
                              </tr>
                              
                            </tbody>
                          </table>
                        </div>
                        <div class="tab-pane fade" id="profile-pills{{ u.id }}">
                          <h4></h4>
                          <p style="word-wrap: break-word;">{{ u.seq }}</p>
                        </div>
                      </div>
                      
                    </div>
                </div>
              </div>
            </div>
            {% endfor %}
                      
          </div> <!-- /.panel-body-->
        </div> <!-- /.panel -->
      </div>
    </div> <!-- /.row -->
    
    

    
        
      </div> <!-- /.tab-pane -->
      <!-- /.INFORMATION -->

      <!-- INTERACTIONS -->
      <div class="tab-pane fade" id="interactions">
        <h4></h4>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              
              <div class="panel-heading">
                Interactions of <b>{{ e.symbol }}</b> with
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                
                <!-- Nav tabs -->
                <ul class="nav nav-pills">
                  <li class="active"><a href="#tf" data-toggle="tab">TFs ({{ ppitf|length }})</a>
                  </li>
                  <li><a href="#tcofhc" data-toggle="tab">TcoF:HC ({{ ppitcofhc|length }})</a>
                  </li>
                  <li><a href="#tcof1" data-toggle="tab">TcoF:C1 ({{ ppitcof1|length }})</a>
                  </li>
                  <li><a href="#tcof2" data-toggle="tab">TcoF:C2 ({{ ppitcof2|length }})</a>
                  </li>
                  <li><a href="#tcof3" data-toggle="tab">TcoF:C3 ({{ ppitcof3|length }})</a>
                  </li>
                  {% if type == "TF" %}
                  <li><a href="#other" data-toggle="tab">Other ({{ ppiother|length }})</a>
                  </li>
                  {% endif %}
                </ul>
                
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="tf">
                    <h4></h4>
                    {% if ppitf|length > 0 %}
                    <a id="dlink"  style="display:none;" ></a>
                    <p class="text-right"><button type="button" class="btn btn-sm btn-default" onclick="tableToExcel('TFtable', 'name', 'interactions_tf.xls')"> Excel</button></p>
                    <div class="table-responsive">
                      <table class="table" id="TFtable">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Symbol</th>
                            <th>GeneID</th>
                            <th>Sources</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for gene, ppi_list in ppitf.items %}
                          <tr>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0  %}"><i class="fa fa-arrow-circle-right"></i></a></td>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0 %}">{{ gene.0 }}</a></td>
                            <td><a title="Open at NCBI Gene" href="https://www.ncbi.nlm.nih.gov/gene/{{ gene.1 }}">{{ gene.1 }}</a></td>
                            <td>
                              <table id="tableSeb2">
				                {% for ppi in ppi_list %}
				                <tr>
				                  <td style="width: 300px;" title="Experiment type">{{ ppi.interaction }}</td>
				                  <td style="width: 220px;" title="Interaction type">{{ ppi.exp }}</td>
				                  <td>
				                    {% if ppi.db == 'biogrid' %}
				                    <a href="http://thebiogrid.org/interaction/{{ ppi.dbid }}">BioGRID</a>
				                    {% elif ppi.db == 'intact' %}
				                    <a href="https://www.ebi.ac.uk/intact/interaction/{{ ppi.dbid }}">IntAct</a>
				                    {% else %}
				                    <a href="http://www.reactome.org/content/query?q={{ ppi.dbid }}">Reactome</a>
				                    {% endif %}
				                  </td>
				                  <td class="text-right"><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ ppi.pmid }}">PMID:{{ ppi.pmid }}</a></td>
				                </tr>
				                {% endfor %}
			                  </table>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      
                    </div>
                    {% else %}
                    <b>0</b> interactions with TFs.
                    {% endif %}
                  </div>
                  
                  <div class="tab-pane fade" id="tcofhc">
                    <h4></h4>
                    {%  if  ppitcofhc|length > 0 %}
                    <a id="dlink"  style="display:none;" ></a>
                    <p class="text-right"><button type="button" class="btn btn-sm btn-default" onclick="tableToExcel('tcof-hc', 'name', 'interactions_tcofs_hc.xls')">Excel</button></p>
                    <div class="table-responsive">
                      <table class="table" id="tcof-hc">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Symbol</th>
                            <th>GeneID</th>
                            <th>Sources</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for gene, ppi_list in ppitcofhc.items %}
                          <tr>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0  %}"><i class="fa fa-arrow-circle-right"></i></a></td>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0 %}">{{ gene.0 }}</a></td>
                            <td><a title="Open at NCBI Gene" href="https://www.ncbi.nlm.nih.gov/gene/{{ gene.1 }}">{{ gene.1 }}</a></td>
                            <td>
			                  <table id="tableSeb2">
                                {% for ppi in ppi_list %}
                                <tr>
                                  <td style="width: 300px;" title="Experiment type">{{ ppi.interaction }}</td>
                                  <td style="width: 220px;" title="Interaction type">{{ ppi.exp }}</td>
                                  <td>
                                  {% if ppi.db == 'biogrid' %}
                                  <a href="http://thebiogrid.org/interaction/{{ ppi.dbid }}">BioGRID</a>
                                  {% elif ppi.db == 'intact' %}
                                  <a href="https://www.ebi.ac.uk/intact/interaction/{{ ppi.dbid }}">IntAct</a>
                                  {% else %}
                                  <a href="http://www.reactome.org/content/query?q={{ ppi.dbid }}">Reactome</a>
                                  {% endif %}
                                  </td>
                                  <td class="text-right"><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ ppi.pmid }}">PMID:{{ ppi.pmid }}</a></td>
                                </tr>
                                {% endfor %}
                              </table>
			                </td>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    {% else %}
                    <b>0</b> interactions with TcoFs: Class HC.
                    {% endif %}
                  </div>
                  <div class="tab-pane fade" id="tcof1">
                    <h4></h4>
                    {%  if  ppitcof1|length > 0 %}
                    <a id="dlink"  style="display:none;" ></a>
                    <p class="text-right"><button type="button" class="btn btn-sm btn-default" onclick="tableToExcel('tcofc1', 'name', 'interactions_tcofs_c1.xls')">Excel</button></p>
                    <div class="table-responsive">
                      <table class="table" id="tcofc1">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Symbol</th>
                            <th>GeneID</th>
                            <th>Sources</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for gene, ppi_list in ppitcof1.items %}
                          <tr>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0  %}"><i class="fa fa-arrow-circle-right"></i></a></td>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0 %}">{{ gene.0 }}</a></td>
                            <td><a title="Open at NCBI Gene" href="https://www.ncbi.nlm.nih.gov/gene/{{ gene.1 }}">{{ gene.1 }}</a></td>
                            <td>
			                  <table id="tableSeb2">
                                {% for ppi in ppi_list %}
                                <tr>
                                  <td style="width: 300px;" title="Experiment type">{{ ppi.interaction }}</td>
                                  <td style="width: 220px;" title="Interaction type">{{ ppi.exp }}</td>
                                  <td>
                                  {% if ppi.db == 'biogrid' %}
                                  <a href="http://thebiogrid.org/interaction/{{ ppi.dbid }}">BioGRID</a>
                                  {% elif ppi.db == 'intact' %}
                                  <a href="https://www.ebi.ac.uk/intact/interaction/{{ ppi.dbid }}">IntAct</a>
                                  {% else %}
                                  <a href="http://www.reactome.org/content/query?q={{ ppi.dbid }}">Reactome</a>
                                  {% endif %}
                                  </td>
                                  <td class="text-right"><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ ppi.pmid }}">PMID:{{ ppi.pmid }}</a></td>
                                </tr>
                                {% endfor %}
                              </table>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    {% else %}
                    <b>0</b> interactions with TcoFs: Class 1.
                    {% endif %}
                  </div>
                  <div class="tab-pane fade" id="tcof2">
                    <h4></h4>
                    {%  if  ppitcof2|length > 0 %}
                    <a id="dlink"  style="display:none;" ></a>
                    <p class="text-right"><button type="button" class="btn btn-sm btn-default" onclick="tableToExcel('tcofc2', 'name', 'interactions_tcofs_c2.xls')">Excel</button></p>
                    <div class="table-responsive">
                      <table class="table" id="tcofc2">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Symbol</th>
                            <th>GeneID</th>
                            <th>Sources</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for gene, ppi_list in ppitcof2.items %}
                          <tr>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0  %}"><i class="fa fa-arrow-circle-right"></i></a></td>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0 %}">{{ gene.0 }}</a></td>
                            <td><a title="Open at NCBI Gene" href="https://www.ncbi.nlm.nih.gov/gene/{{ gene.1 }}">{{ gene.1 }}</a></td>
                            <td>
			                  <table id="tableSeb2">
                                {% for ppi in ppi_list %}
                                <tr>
                                  <td style="width: 300px;" title="Experiment type">{{ ppi.interaction }}</td>
                                  <td style="width: 220px;" title="Interaction type">{{ ppi.exp }}</td>
                                  <td>
                                  {% if ppi.db == 'biogrid' %}
                                  <a href="http://thebiogrid.org/interaction/{{ ppi.dbid }}">BioGRID</a>
                                  {% elif ppi.db == 'intact' %}
                                  <a href="https://www.ebi.ac.uk/intact/interaction/{{ ppi.dbid }}">IntAct</a>
                                  {% else %}
                                  <a href="http://www.reactome.org/content/query?q={{ ppi.dbid }}">Reactome</a>
                                  {% endif %}
                                  </td>
                                  <td class="text-right"><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ ppi.pmid }}">PMID:{{ ppi.pmid }}</a></td>
                                </tr>
                                {% endfor %}
                              </table>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    {% else %}
                    <b>0</b> interactions with TcoFs: Class 2.
                    {% endif %}
                  </div>
                  <div class="tab-pane fade" id="tcof3">
                    <h4></h4>
                    {%  if  ppitcof3|length > 0 %}
                    <a id="dlink"  style="display:none;" ></a>
                    <p class="text-right"><button type="button" class="btn btn-sm btn-default" onclick="tableToExcel('tcofc3', 'name', 'interactions_tcofs_c3.xls')">Excel</button></p>
                    <div class="table-responsive">
                      <table class="table" id="tcofc3">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Symbol</th>
                            <th>GeneID</th>
                            <th>Sources</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for gene, ppi_list in ppitcof3.items %}
                          <tr>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0  %}"><i class="fa fa-arrow-circle-right"></i></a></td>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0 %}">{{ gene.0 }}</a></td>
                            <td><a title="Open at NCBI Gene" href="https://www.ncbi.nlm.nih.gov/gene/{{ gene.1 }}">{{ gene.1 }}</a></td>
                            <td>
			                  <table id="tableSeb2">
                                {% for ppi in ppi_list %}
                                <tr>
                                  <td style="width: 300px;" title="Experiment type">{{ ppi.interaction }}</td>
                                  <td style="width: 220px;" title="Interaction type">{{ ppi.exp }}</td>
                                  <td>
                                  {% if ppi.db == 'biogrid' %}
                                  <a href="http://thebiogrid.org/interaction/{{ ppi.dbid }}">BioGRID</a>
                                  {% elif ppi.db == 'intact' %}
                                  <a href="https://www.ebi.ac.uk/intact/interaction/{{ ppi.dbid }}">IntAct</a>
                                  {% else %}
                                  <a href="http://www.reactome.org/content/query?q={{ ppi.dbid }}">Reactome</a>
                                  {% endif %}
                                  </td>
                                  <td class="text-right"><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ ppi.pmid }}">PMID:{{ ppi.pmid }}</a></td>
                                </tr>
                                {% endfor %}
                              </table>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    {% else %}
                    <b>0</b> interactions with TcoFs: Class 3.
                    {% endif %}
                  </div>
                                      
                  {% if type == "TF" %}
                  <div class="tab-pane fade" id="other">
                    <h4></h4>
                    {%  if  ppiother|length > 0 %}
                    <a id="dlink"  style="display:none;" ></a>
                    <p class="text-right"><button type="button" class="btn btn-sm btn-default" onclick="tableToExcel('other', 'name', 'interactions_other.xls')">Excel</button></p>
                    <div class="table-responsive">
                      <table class="table" id="other">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Symbol</th>
                            <th>GeneID</th>
                            <th>Sources</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for gene, ppi_list in ppiother.items %}
                          <tr>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0  %}"><i class="fa fa-arrow-circle-right"></i></a></td>
                            <td><a title="Open in TcoF-DB" href="{% url 'tcof:gene_url_name' gene.0 %}">{{ gene.0 }}</a></td>
                            <td><a title="Open at NCBI Gene" href="https://www.ncbi.nlm.nih.gov/gene/{{ gene.1 }}">{{ gene.1 }}</a></td>
                            <td>
			                  <table id="tableSeb2">
                                {% for ppi in ppi_list %}
                                <tr>
                                  <td style="width: 300px;" title="Experiment type">{{ ppi.interaction }}</td>
                                  <td style="width: 220px;" title="Interaction type">{{ ppi.exp }}</td>
                                  <td>
                                  {% if ppi.db == 'biogrid' %}
                                  <a href="http://thebiogrid.org/interaction/{{ ppi.dbid }}">BioGRID</a>
                                  {% elif ppi.db == 'intact' %}
                                  <a href="https://www.ebi.ac.uk/intact/interaction/{{ ppi.dbid }}">IntAct</a>
                                  {% else %}
                                  <a href="http://www.reactome.org/content/query?q={{ ppi.dbid }}">Reactome</a>
                                  {% endif %}
                                  </td>
                                  <td class="text-right"><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ ppi.pmid }}">PMID:{{ ppi.pmid }}</a></td>
                                </tr>
                                {% endfor %}
                              </table>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    {% else %}
                    <b>0</b> interactions with TcoFs: Class 3.
                    {% endif %}
                  </div>
                  
                </div>
                {% endif %}
                
              </div> <!-- /.panel-body-->
            </div> <!-- /.panel -->

          </div> <!-- /. col-lg-12 -->
        </div> <!-- /.row -->
        
      </div> <!-- /.tab-pane-->
      
    </div> <!-- /.tab content-->
 
