{% extends "tcof/base.html" %}
{% block title %}{{ type }}:{{ e.symbol }}{% endblock %}

{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
  
    <h3 class="page-header">{{ type }} - {{ e.symbol }}</h3>
    
    <!-- spinner while loading -->
    <div id="loadingDiv">
      <img id="loading-image" src="{% static 'tcof/images/loading.gif' %}" width="24px" height="24px" alt="Loading..." />
    </div>
    <div id="contentDiv"></div>

    <!-- Load content into contentDiv with ajax-->
    <script language="javascript" type="text/javascript">
      var $loading = $('#loadingDiv').hide();
      $(document)
       .ajaxStart(function () {
          $loading.show();
        })
       .ajaxStop(function () {
         $loading.hide();
      });

      $("#contentDiv").load("{% url 'tcof:gene_url_name' e.symbol %}?content=1&ppi={{ ppi_tab }}");
    </script>

    
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}
  
   
