{% load staticfiles %}

{% url 'tcof:browse_url_name' as browse_url %}
{% url 'tcof:search_url_name' as search %}

<div class="row">
  <div class="col-lg-8">
    
    <div class="row">
      <div class="panel panel-default">
	<div class="panel-heading"><i class="fa fa-home fa-fw"></i> Welcome</div>
	<div class="panel-body" style="min-height: 275px;">
          <div class="col-lg-12">
            <div class="row">
              <p class="text-justify">
		The <i>Database of transcription co-factors and transcription factor interactions (TcoF-DB)</i> facilitates the exploration of genes coding for proteins involved in the regulation of transcription in humans and mice by binding to regulatory DNA regions (transcription factors) and genes coding for proteins that are involved in the regulation of transcription by interacting with transcription factors but are <i>not</i> binding directly to regulatory DNA regions (transcription co-factors). Other genes coding for proteins that interact with TFs are also included. Genes can be searched by a variety of identifiers or predefined sets of genes can be viewed. 
              </p>
            </div>
            <div class="row">
              <p class="text-center" style="padding: 15px;">
	        <!-- search bar -->
	        <center>
	          <form class="navbar-form" role="search" action="{{ search }}" method="GET">
	            <div class="input-group">
	              <input type="text" class="form-control" placeholder="Search TcoF-DB..." name="q" id="q" maxlength="50" required/>
	              <div class="input-group-btn">
		        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
	              </div>
	            </div>
                    &nbsp;&nbsp;Gene ID/symbol/name  or Uniprot ID/Acc
	          </form>
	        </center>
              </p>
            </div>
          </div>
	</div>
      </div>      
    </div>

    <div class="row">
      <div class="panel panel-default">
	<div class="panel-heading"><i class="fa fa-link"></i> Quick links</div>
	<div class="panel-body" style="min-height: 100px;">
          <div class="col-lg-3">
            <p style="padding:10px;">
              <a title="Browse data" href="{{ browse_url }}?type=tf&species=human"><button type="button" class="btn btn-primary"><i class="fa fa-list-alt"></i> Human TFs</button></a>
            </p>
          </div>
          <div class="col-lg-3">
            <p style="padding:10px;">
              <a title="Browse data" href="{{ browse_url }}?type=tcof&species=human&class=all"><button type="button" class="btn btn-primary"><i class="fa fa-list-alt"></i> Human TcoFs</button></a>
            </p>
          </div>
          <div class="col-lg-3">
            <p style="padding:10px;">
              <a title="Browse data" href="{{ browse_url }}?type=tf&species=mouse"><button type="button" class="btn btn-primary"><i class="fa fa-list-alt"></i> Mouse TFs</button></a>
            </p>
          </div>
          <div class="col-lg-3">
            <p style="padding:10px;">
              <a title="Browse data" href="{{ browse_url }}?type=tcof&species=mouse&class=all"><button type="button" class="btn btn-primary"><i class="fa fa-list-alt"></i> Mouse TcoFs</button></a>
            </p>
         </div>
	</div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div> <!--/.row-->
    
    <div class="row">
      
      <div class="panel panel-default">
	<div class="panel-heading"><i class="fa fa-file-text-o"></i> Reference</div>
	<div class="panel-body" style="min-height: 100px;">
          <p>If you use this tool in your research, please cite:</p>
          <p class="text-justify">
	    <a href="http://nar.oxfordjournals.org/content/early/2016/10/26/nar.gkw1007.full">TcoF-DB v2: update of the database of human and mouse transcription co-factors and transcription factor interactions. Schmeier S, Alam T, Essack M, Bajic VB. Nucl. Acids Res., 2016, doi: 10.1093/nar/gkw1007</a>
	</div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div> <!--/.row-->
    
  </div><!-- /.col-lg-8 -->
  
  <div class="col-lg-4">
    
    <!-- ROW -->
    <div class="row">
      <div class="col-lg-12">
	<div class="panel panel-default">
	  <div class="panel-heading">TcoFs</div>
	  <div class="panel-body" style="min-height: 275px; max-height:275px">
	    <center>
              <div style="min-height: 235px; max-height:235px; max-width:350px;" id="morris-bar-example"></div>
	    </center>
	  </div> <!-- /.panel-body -->
	</div><!-- /.panel -->
      </div><!-- /.col-lg-12  -->
    </div><!-- /.row -->

    <!-- ROW -->
    <div class="row">
      <div class="col-lg-12">
	<div class="panel panel-default">
	  <div class="panel-heading">TFs</div>
	  <div class="panel-body" style="min-height: 275px; max-height:275px">
	    <center>
              <div style="min-height: 235px; max-height:235px; max-width:350px;" id="morris-donut"></div>
	    </center>
	  </div> <!-- /.panel-body -->
	</div><!-- /.panel -->
      </div><!-- /.col-lg-12  -->
    </div><!-- /.row -->
    
  </div><!-- /.col-lg-4 -->
  
</div>
<!-- /.row -->


<script>
 
Morris.Bar({
  element: 'morris-bar-example',
   data: [
    { y: 'TcoFs (HC)', a: {{ hsa.HC }},  b: {{ mmu.HC }} },
    { y: 'TcoFs (1)', a: {{ hsa.1 }},  b:  {{ mmu.1 }} },
    { y: 'TcoFs (2)', a: {{ hsa.2 }},  b:  {{ mmu.2 }} },
   { y: 'TcoFs (3)', a: {{ hsa.3 }},  b:  {{ mmu.3 }} }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Human', 'Mouse'],
 resize: true,
 xLabelAngle: 45, 
 barColors: ['#0B62A4', '#679DC6'],
 hideHover: 'auto',
 gridLineColor: '#c3c3c3'
});

Morris.Donut({
  element: 'morris-donut',
  data: [
    {label: "TFs human", value:  {{ hsa.TF }}},
    {label: "TFs mouse", value:  {{ mmu.TF }}}
  ]
});

</script>
