{% extends "tcof/base.html" %}
{% block title %}Home{% endblock %}

{% load staticfiles %}
{% block content %}
<!-- Morris Charts CSS -->
<link href="{% static 'tcof/bower_components/morrisjs/morris.css' %}" rel="stylesheet">
<!-- Morris Charts JavaScript -->
<script src="{% static 'tcof/bower_components/raphael/raphael-min.js' %}"></script>
<script src="{% static 'tcof/bower_components/morrisjs/morris.min.js' %}"></script>

<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-database"></i> TcoF-DB v2 // Database of transcription co-factors and transcription factor interactions</h3>
  </div>
</div>
<!-- /.row -->

<!-- CONTENT -->

<!-- spinner while loading -->
<div id="loadingDiv">
  <img id="loading-image" src="{% static 'tcof/images/loading.gif' %}" width="24px" height="24px" alt="Loading..." />
</div>
<div id="contentDiv"></div>

<!-- Load content into contentDiv with ajax-->
<script language="javascript" type="text/javascript">
      var $loading = $('#loadingDiv').hide();
         $(document)
           .ajaxStart(function () {
             $loading.show();
           })
           .ajaxStop(function () {
             $loading.hide();
           });
 
         $("#contentDiv").load("{{ home_url }}?content=1");
</script>

<!-- END OF CONTENT -->
{% endblock %}

