{% load staticfiles %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- JQERY -->
    <script src="{% static 'tcof/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'tcof/bower_components/bootstrap/dist/js/bootstrap.min.js' %}" async></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'tcof/bower_components/metisMenu/dist/metisMenu.min.js' %}" async></script>
    
    <!-- DataTables JavaScript -->
    <script src="{% static 'tcof/bower_components/datatables/media/js/jquery.dataTables.min.js' %}" defer></script>
    <script src="{% static 'tcof/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}" defer></script>
    <!-- Datatables data download -->
    <script src="{% static 'tcof/dist/js/dataTables-additions/dataTables.buttons.min.js' %}" defer></script>
    <script src="{% static 'tcof/dist/js/dataTables-additions/buttons.bootstrap.min.js' %}" defer></script>
    <script src="{% static 'tcof/dist/js/dataTables-additions/jszip.min.js' %}" defer></script>
    <script src="{% static 'tcof/dist/js/dataTables-additions/buttons.html5.min.js' %}" defer></script>
    <script src="{% static 'tcof/dist/js/dataTables-additions/buttons.print.min.js' %}" defer></script>
    <!-- Datatables select -->
    <script src="{% static 'tcof/dist/js/dataTables-additions/dataTables.select.min.js' %}" defer></script>
    
    <!-- NEED TO BE LOADED LAST -->
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'tcof/dist/js/app.js' %}" defer></script>

