{% extends "tcof/base.html" %}

{% block title %}MSigDB{% endblock %}

{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
 
    <h3 class="page-header"><a title="Open at MSigDB" href="http://www.broadinstitute.org/gsea/msigdb/cards/{{ idx }}">MSigDB</a> - <small>{{ term }}</small></h3>

    <!-- CONTENT -->

    <!-- spinner while loading -->
    <div id="loadingDiv">
      <img id="loading-image" src="{% static 'tcof/images/loading.gif' %}" width="24px" height="24px" alt="Loading..." />
    </div>
    <div id="contentDiv"></div>

    <!-- Load content into contentDiv with ajax-->
    <script language="javascript" type="text/javascript">
         var $loading = $('#loadingDiv').hide();
         $(document)
           .ajaxStart(function () {
             $loading.show();
           })
           .ajaxStop(function () {
             $loading.hide();
         });
         
         {% if type == 'c6' %}
         $("#contentDiv").load("{% url 'tcof:c6_url_name' idx %}?content=1");
         {% else %}
         $("#contentDiv").load("{% url 'tcof:c7_url_name' idx %}?content=1");
         {% endif %}
    </script>
    
    <!-- END OF CONTENT -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}
