{% load staticfiles %}

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top navbar-custom" role="navigation" style="margin-bottom: 0">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ home_url }}"><img src="{% static 'tcof/images/logo.png' %}" style="height: 100%; width: auto;"></a>
        </div>
        <!-- /.navbar-header -->
        
        {% comment "Add search bar to the right in the navbar" %}
        <!-- navbar-top-right -->
        <div class="col-lg-2 pull-right">
          <form class="navbar-form" role="search" action="{{ search }}" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search..." name="q" id="q" maxlength="50" required/>
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <!-- /.navbar-top-right -->
        {% endcomment %}
        
        <!-- NAVIGATION SIDEBAR -->
        <!-- Highlighting of the active class is handled by metisMenu -->
        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <!-- search bar -->
            <form class="navbar-form" role="search" action="{{ search }}" method="GET">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." name="q" id="q" maxlength="50" required/>
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
            <!-- ./serach bar -->
            <ul class="nav" id="side-menu">
              <li>
                <a href="{{ home_url }}"><i class="fa fa-home fa-fw"></i> Home</a>
              </li>
              <li>
                <a href="{{ doc_url }}"><i class="fa fa-info-circle fa-fw"></i> Documentation</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> TcoFs<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse"> <!-- added collapse for propper working nav third level-->
                  <li>
                    <a href="#">Human <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                      <li>
                        <a href="{{ browse_url }}?type=tcof&species=human&class=all">All</a>
                      </li>
                      <li>
                        <a href="{{ browse_url }}?type=tcof&species=human&class=HC">High Conf</a>
                      </li>
                      <li>
                        <a href="{{ browse_url }}?type=tcof&species=human&class=1">Class 1</a>
                      </li>
                      <li>
                        <a href="{{ browse_url }}?type=tcof&species=human&class=2">Class 2</a>
                      </li>
                      <li>
                        <a href="{{ browse_url }}?type=tcof&species=human&class=3">Class 3</a>
                      </li>
                    </ul>
                    <!-- /.nav-third-level -->
                  </li>
		          <li>
                    <a href="#">Mouse <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                      <li>
                        <a href="{{ browse_url }}?type=tcof&species=mouse&class=all">All</a>
                      </li>
		              <li>
                        <a href="{{ browse_url }}?type=tcof&species=mouse&class=HC">High Conf</a>
                      </li>
		              <li>
                        <a href="{{ browse_url }}?type=tcof&species=mouse&class=1">Class 1</a>
                      </li>
                      <li>
                        <a href="{{ browse_url }}?type=tcof&species=mouse&class=2">Class 2</a>
                      </li>
                      <li>
                        <a href="{{ browse_url }}?type=tcof&species=mouse&class=3">Class 3</a>
                      </li>
                    </ul>
                    <!-- /.nav-third-level -->
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              
	          <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> TFs<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
		          <li>
		            <a href="{{ browse_url }}?type=tf&species=human">Human</a>
		          </li>
		          <li>
		            <a href="{{ browse_url }}?type=tf&species=mouse">Mouse</a>
		          </li>
	            </ul>
              </li>
              
              <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> TcoFs/TFs by annotation<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse"> <!-- added collapse for propper working nav third level-->

                  <li>
                    <a href="#">Gene Ontology <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
		              <li>
		                <a href="{{ browse_url }}?type=anno&atype=GO:Process">Process</a>
		              </li>
		              <li>
		                <a href="{{ browse_url }}?type=anno&atype=GO:Function">Function</a>
		              </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Pathways <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                      <li>
                        <a href="{{ browse_url }}?type=anno&atype=Pathways:KEGG">KEGG</a>
                      </li>
                      <li>
                        <a href="{{ browse_url }}?type=anno&atype=Pathways:REACTOME">REACTOME</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">MSigDB <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                      <li>
		                <a href="{{ browse_url }}?type=anno&atype=MSigDB:c6">Oncogenic sets (c6)</a>
		              </li>
                      <li>
		                <a href="{{ browse_url }}?type=anno&atype=MSigDB:c7">Immunological sets (c7)</a>
		              </li>
                    </ul>
                  </li>
                  <li>
		            <a href="{{ browse_url }}?type=anno&atype=Diseases">Diseases</a>
		          </li>
	            </ul><!-- /.nav-second-level -->
              </li>
              
            </ul> 
            
          </div>
          <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
      </nav>
