
{% load staticfiles %}

   {% if search_results %}
     <div class="alert alert-info alert-dismissable">
       Query-term: <b>{{ search_term }}</b> <br>
       Number of results: {{ search_results|length }}
   {% else %}
       <div class="alert alert-info alert-danger">
       Query-term: <b>{{ search_term }}</b> <br>
       No results. Please try again.
   {% endif %}
      </div>
   
    {% if search_results|length > 0 %}
     <div class="panel panel-default">
       <div class="panel-body">
         <div class="dataTable_wrapper" width="100%">
           <table class="table  table-striped table-condensed" id="table1" width="100%">
             <thead>
               <tr>
                 <th></th>
                 <th>Symbol</th>
                 <th>Species</th>
                 <th>GeneID</th>
                 <th>Name</th>
                 <th>Alt.</th>
                 <th>UPid</th>
                 <th>UPacc</th>
                 <th>Type</th>
               </tr>
             </thead>
             <tbody>
               {% for e in search_results %}
               <tr>
                 <td><a title="Open gene in TcoF" href="{% url 'tcof:gene_url_name' e.1 %}"><i class="fa fa-arrow-circle-right"></i></a></td>
                 <td><a title="Open gene in TcoF" href="{% url 'tcof:gene_url_name' e.1 %}">{{ e.1 }}</a></td>
                 <td>{{ e.3 }}</td>
                 <td><a title="Open at NCBI Gene" href="https://www.ncbi.nlm.nih.gov/gene/{{ e.0 }}">{{ e.0 }}</a></td>
                 <td><a title="Open at NCBI Gene" href="https://www.ncbi.nlm.nih.gov/gene/{{ e.0 }}">{{ e.2 }}</a></td>
                 <td>{{ e.4 }}</td>
                 <td>
                   {% for up in e.6 %}
                   <a title="Open at Uniprot" href="http://www.uniprot.org/uniprot/{{ up.1 }}">{{ up.0 }}</a><br>
                   {% endfor %}
                 </td>
                 <td>
                   {% for up in e.6 %}
                   <a title="Open at Uniprot" href="http://www.uniprot.org/uniprot/{{ up.1 }}">{{ up.1 }}</a><br>
                   {% endfor %}
                 </td>
                 <td><b>{{ e.5 }}</b></td>
               </tr>
               {% endfor %}
             </tbody>
             
           </table>
           <!-- DataTables JavaScript -->
           <script>
             //var dataSet = {{ data|safe }};
         
             $(document).ready( function() {
             $('#table1').DataTable( {
               //"data": dataSet,
               "columns": [
                          {"width": "5px", "bSortable": false },
                          {"width": "100px"},
                          { "width": "65px" },
                          { "width": "65px" },
                          null,
                          { "width": "120px", "className": "text-left" },
                          { "width": "110px", "className": "text-left" },
                          { "width": "65px", "className": "text-left" },
                          { "width": "50px", "className": "text-center" }
               ],
               responsive: true,
               "order": [[ 1, "asc" ]],
               "deferRender": true
              } );
            } );
           </script>
   
         </div>
         <!-- /.table-responsive -->
       </div>
     </div>
     {% endif %}
