{% load staticfiles %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'tcof/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- MetisMenu CSS -->
    <link href="{% static 'tcof/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="{% static 'tcof/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- DataTables CSS -->
    <link href="{% static 'tcof/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">
    
    <!-- DataTables Responsive CSS -->
    <!--<link href="{% static 'tcof/bower_components/datatables-responsive/css/responsive.dataTables.scss' %}" rel="stylesheet">-->
    <link href="{% static 'tcof/dist/js/dataTables-additions/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Datatables select -->
    <link href="{% static 'tcof/dist/js/dataTables-additions/select.bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'tcof/dist/css/app.css' %}" rel="stylesheet" type="text/css">
