{% load staticfiles %}

     <div class="panel panel-default">
      <div class="panel-heading"><b>TcoFs</b> associated to term ({{ data2|length }})
      </div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table class="table table-condensed" id="table2">
	    <thead>
              <tr>
                <th></th>
                <th title="Details in TcoF-DB">Symbol</th>
                <th>GeneID</th>
                <th>Name</th>
                <th>Species</th>
                <th title="Interactions with TFs"># PPI&nbsp;</th>
                <th>Type</th>
              </tr>
            </thead>
          </table>
          
          <!-- DataTables JavaScript -->
          <script>
            var dataSet2 = {{ data2|safe }};
            
            $(document).ready( function() {
            var tableTCOF = $('#table2').DataTable( {
              "data": dataSet2,
              "columns": [
	                  { "width": "5px", "bSortable": false },
                          { "width": "100px" },
                          { "width": "100px" },
                          null,
                          { "width": "70px", "className": "text-center" },
                          { "width": "50px", "className": "text-right" },
                          { "width": "80px", "className": "text-center" }
              ],
              responsive: true,
              "order": [[ 1, "asc" ]],
              "deferRender": true,
              responsive: true,
              lengthChange: false,
              "pageLength": 15,
              buttons: [ 'excel' ]
           } );
           tableTCOF.buttons().container()
                     .appendTo( '#table2_wrapper .col-sm-6:eq(0)' );
           
           } );
          </script>
   
        </div>
        <!-- /.table wrapper -->

      </div> <!-- panel body -->
    </div> <!--  panel default -->
    
    <div class="panel panel-default">
      <div class="panel-heading"><b>TFs</b> associated to term ({{ data|length }})
      </div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table class="table table-condensed" id="table1">
            <thead>
              <tr>
                <th></th>
                <th title="Details in TcoF-DB">Symbol</th>
                <th>GeneID</th>
                <th>Name</th>
                <th>Species</th>
                <th title="Interactions with TcoFs"># PPI&nbsp;</th>
                <th>Type</th>
              </tr>
            </thead>
          </table>
          
          <!-- DataTables JavaScript -->
          <script>
            var dataSet = {{ data|safe }};
            
            $(document).ready( function() {
            var table = $('#table1').DataTable( {
              "data": dataSet,
              "columns": [
	                  { "width": "5px", "bSortable": false },
                	  { "width": "100px" },
                          { "width": "100px" },
                          null,
                          { "width": "70px", "className": "text-center" },
                          { "width": "50px", "className": "text-right" },
                          { "width": "80px", "className": "text-center" }
              ],
              responsive: true,
              "order": [[ 1, "asc" ]],
              "deferRender": true,
              responsive: true,
              lengthChange: false,
              "pageLength": 15,
              buttons: [ 'excel' ]
           } );
           table.buttons().container()
                     .appendTo( '#table1_wrapper .col-sm-6:eq(0)' );
           
           } );
          </script>
        </div>
        <!-- /.table wrapper -->
      </div> <!-- panel body -->
    </div> <!--  panel default -->
